<h1> Edit <%= @landmark.name %> </h1>
<form action="<%= "/landmarks/#{@landmark.id}" %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label> Landmark's name: </label><br>
  <input type="text" id="name" name="landmark[name]"><br><br>

  <label> Year Completed: </label><br>
  <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= "#{@landmark.year_completed.to_s}" %>"><br><br>



  <input type="submit" id="Edit Landmark" name="submit">
</form>
