<h2>All Historical Landmarks</h2>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>

<% @landmarks.each do |landmark| %>
  <h2> Name: <%= "#{landmark.name}" %><br>
  <h3> Link: <a href="<%= "landmark/#{landmark.id}" %>"><%= "#{landmark.name}" %></a> </h3>
  <h3> Year Completed: <%= "#{landmark.year_completed}" %>
<% end %>
