<h1> ALL THE FIGURES </h1>
<% @figures.each do |figure| %>
  <h2> Name: <%= "#{figure.name}" %><br>
  <h3> Link: <a href="<%= "figures/#{figure.id}" %>"><%= "#{figure.name}" %></a><br> </h3>
<% end %>
